<div class="mx-5 mt-5">
  <h1><strong>Contactanos</strong></h1>
  <p>Si quieres conocer más sobre nuestros servicios, que códigos legbales o estipulaciones sobre recursos de derechos
    penitenciarios o derechos humanos, no dudes en contactarnos para conocer más información</p>
  <label for="exampleFormControlInput1" class="form-label"><h4>Correo Electrónico</h4></label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
</div>
<div class="mx-5">
  <label for="exampleFormControlTextarea1" class="form-label mt-3"><h4>Tu mensaje</h4></label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>