<div class="container mt-5 text-start">
    <div class="row gx-5">
        <div class="col d-flex align-items-end">
            <div class="p-3">
                <h1>Bienvenido a <strong>Tocoron</strong></h1>
                <p>Somos la entidad líder en la administración y resguardo de población penal en el centro del país.
                    Nuestra misión es garantizar el confinamiento seguro de los internos mediante protocolos de
                    vigilancia de alta intensidad y logística de suministros a gran escala. En Tocorón, transformamos la
                    complejidad del sistema carcelario en una operación de custodia eficiente, priorizando el control
                    perimetral y la clasificación de perfiles para un entorno de máxima seguridad.</p>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <img src="https://i.ibb.co/2YNzrLPb/imagen-1.png" class="img-fluid w-50" alt="prision image for heading">
        </div>
    </div>
</div>