<div class="container px-4 text-start">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3">
                <h1>Lorem Ipsum</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ut eveniet dignissimos quisquam
                    ea dolores est nam, natus inventore maxime voluptatum fugiat ab numquam possimus consectetur cum
                    dolor aliquid? Excepturi.</p>
            </div>
        </div>
        <div class="col">
            <div class="p-3">
                <img src="https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/2E76/production/_92249811_37868077.jpg.webp"
                    alt="prision image for heading">
            </div>
        </div>
    </div>
</div>