<div class="container mt-5 text-start ">
    <div class="row gx-5">
        <div class="col d-flex justify-content-start">
            <img src="https://i.ibb.co/PZKZ429V/imagen-2.png" class="img-fluid w-50" alt="prision image for heading">
        </div>
        <div class="col-6 d-flex align-items-center">
            <div class="p-3">
                <h1><strong>Nuestro servicios</strong></h1>
                    <li>Custodia y Resguardo de Alta Intensidad</li>
                    <li>Gestión Logística de Suministros y Pernocta</li>
                    <li>Protocolos de Clasificación y Control de Perfiles</li>
                    <li>Monitoreo Tecnológico y Blindaje de Accesos</li>
            </div>
        </div>
    </div>
</div>