<!-- your html code here -->
<div class="d-flex align-items-center justify-content-center text-center" style="background-image: url('https://media.istockphoto.com/id/1596193818/es/foto/cerca-de-alambre-de-p%C3%BAas-c%C3%A1rcel-o-valla-fronteriza-con-alambre-de-p%C3%BAas-contra-el-cielo-oscuro.jpg?s=612x612&w=0&k=20&c=T0LZQ_KDrQteaXCqjmUKuJzHIc9mxO-ZA2_bGtHww1Q='); 
    background-size: cover; 
    background-position: center; 
    min-height: 400px;">

    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="bg-light p-3 rounded mb-3 w-100">
            <h1 class="display-1 ">TOCORON</h1>
        </div>
        <div class="bg-light p-3 rounded w-100">
            <h1 class="display-1">Justicia de hierro para un orden seguro.</h1>
        </div>
    </div>
</div>